:root {
    background-color: rgb(29, 29, 65);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: Arial, san-serif;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}


#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 80px auto;
    padding: 2rem;

}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}


.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.justify-text-center {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 30rem;
    color: white;
    background-color: red;
    border-radius: 4px;

}

 .next-prev-btn {
    margin: 0 auto;
 }
 .next-prev-btn button {
    width: 30rem;
    height: 10rem;
    font-size:7rem;
 } 
 



.btn:hover {
    transition: transform 150ms;
    transform: scale(1.03);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(8, 114, 244, 0.6)
}

.btn:active {
    transition: transform 150ms;
    transform: scale(0.95);
    background-color: white;
    color: red; 

}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;


}

#highscore-btn {
    background: yellow; 
}

#highscore-btn:hover {
    background: white;
    color: yellow; 
}


#play-btn:hover {
    background: white;
    color: red; 
}

.crown-icon {
  width: 25px;
  height: 25px;
  fill: gold;
  margin-right: 6px;
  vertical-align: middle;
}


.previous {
    font-size: 2.4rem;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    width: 30rem;
    color: white;
    background-color: red;
    border-radius: 4px;

}


.previous:hover {
    transition: transform 150ms;
    transform: scale(1.03);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(8, 114, 244, 0.6)
}

.previous:active {
    transition: transform 150ms;
    transform: scale(0.95);
    background-color: white;
    color: red; 

}

.next {
    background: yellow; 
}

.next:hover {
    background: white;
    color: yellow; 
}


/*end page css*/

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;

}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgb(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}